<div class="container-fluid">
    <p>
        <a routerLink="/agentForm" class="btn btn-primary">new Agent</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>phone</th>
                <th>email</th>
                <th>Hire Date</th>
                <th>Base</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of agents">
                <td>{{ a?.FirstName }}</td>
                <td>{{ a?.LastName }}</td>
                <td>{{ a?.phone }}</td>
                <td>{{ a?.email }}</td>
                <td>{{ a?.hireDate | date }}</td>
                <td>{{ a?.ID_Base.B_Name }}</td>
                <td>
                    <a class="btn btn-secondary mx-1" [routerLink]="">Edit</a>
                    <a class="btn btn-danger text-light mx-1" (click)="delete(a._id)">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>