<div class="container">
    <form #f="ngForm" (ngSubmit)="submit(f)" class="mt-5">
        <div class="form-group">
            <label for="ID_Client">Client</label>
            <select required ngModel #ID_Client="ngModel" class="form-control" name="ID_Client" id="ID_Client">
                <option *ngFor="let c of clients" [value]="c._id">{{ c.CIN }}: {{ c.FirstName }} {{ c.LastName }}
                </option>
            </select>
            <div class="alert alert-danger mt-2" *ngIf="ID_Client.touched && ID_Client.invalid">
                Client is required
            </div>
        </div>
        <div class="form-group">
            <label for="ID_Car">Car</label>
            <select required ngModel #ID_Car="ngModel" class="form-control" name="ID_Car" id="ID_Car">
                <option *ngFor="let c of cars" [value]="c._id">{{ c.Registration_Number }}</option>
            </select>
            <div class="alert alert-danger mt-2" *ngIf="ID_Car.touched && ID_Car.invalid">
                Car is required
            </div>
        </div>

        <div class="form-group">
            <label for="Rent_Start_Date">Rental Start Date</label>
            <input required min={{currentDate}} [ngModel]="repair?.Rent_Start_Date" #Rent_Start_Date="ngModel"
                type="date" class="form-control" name="Rent_Start_Date" id="Rent_Start_Date">
            <div class="alert alert-danger mt-2" *ngIf="!Rent_Start_Date.valid && Rent_Start_Date.touched">
                <div *ngIf="Rent_Start_Date.errors?.required">Rental Start Date is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="Rent_End_Date">Rental End Date</label>
            <input required min={{currentDate}} [ngModel]="repair?.Rent_End_Date" #Rent_End_Date="ngModel" type="date"
                class="form-control" name="Rent_End_Date" id="Rent_End_Date">
            <div class="alert alert-danger mt-2" *ngIf="!Rent_End_Date.valid && Rent_End_Date.touched">
                <div *ngIf="Rent_End_Date.errors?.required">Rental End Date is required.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid || f.errors">Submit</button>
        <div class="alert alert-danger mt-2" *ngIf="f.submitted && f.errors">
            <div *ngIf="f.errors && f.errors.invalidData">invalid data submitted.</div>
            <div *ngIf="f.errors && f.errors.unknownError">Unknown error occured.</div>
        </div>
        <div class="alert alert-success alert-dismissible mt-2" role="alert" *ngIf="added">
            Order added successfully!
            <button type="button" (click)="DismissSuccessMessage()" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- <div class="alert alert-success alert-dismissible mt-2" role="alert" *ngIf="updated">
            Order updated successfully!
            <button type="button" (click)="DismissSuccessMessage()" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
    </form>
</div>