<div class="container-fluid">
    <p>
        <a routerLink="/newBase" class="btn btn-primary">new base</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Base Name</th>
                <th>Region</th>
                <th>city</th>
                <th>address</th>
                <th>phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of bases">
                <td>{{ b.B_Name }}</td>
                <td>{{ b.Region }}</td>
                <td>{{ b.city }}</td>
                <td>{{ b.adress }}</td>
                <td>{{ b.phone }}</td>
                <td>
                    <a class="btn btn-secondary mx-1">Edit</a>
                    <a class="btn btn-danger mx-1" (click)="delete(b._id)">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>