<div class="container">
    <form #f="ngForm" (ngSubmit)="submit(f)" class="mt-5">
        <div class="form-group">
            <label for="CIN">CIN</label>
            <input required minlength="8" maxlength="8" pattern="[0-9]{8}" [ngModel]="client?.CIN" #CIN="ngModel"
                type="text" class="form-control" name="CIN" id="CIN">
            <div class="alert alert-danger mt-2" *ngIf="!CIN.valid && CIN.touched">
                <div *ngIf="CIN.errors?.required">CIN Field is required.</div>
                <div *ngIf="CIN.errors?.minlength">CIN should be minimum 5 characters.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input required minlength="5" maxlength="150" [ngModel]="client?.FirstName" #FirstName="ngModel" type="text"
                class="form-control" name="FirstName" id="FirstName">
            <div class="alert alert-danger mt-2" *ngIf="!FirstName.valid && FirstName.touched">
                <div *ngIf="FirstName.errors?.required">First Name Field is required.</div>
                <div *ngIf="FirstName.errors?.minlength">First Name should be minimum 5 digits.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input required type="LastName" minlength="5" maxlength="150" [ngModel]="client?.LastName"
                #LastName="ngModel" class="form-control" name="LastName" id="LastName">
            <div class="alert alert-danger mt-2" *ngIf="!LastName.valid && LastName.touched">
                <div *ngIf="LastName.errors?.required">Last Name Field is required.</div>
                <div *ngIf="LastName.errors?.minlength">Last Name should be minimum 5 characters.</div>
                <div *ngIf="LastName.errors?.pattern">Wrong Last Name.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input required minlength="8" maxlength="12" [ngModel]="client?.phone" #phone="ngModel" type="text"
                class="form-control" name="phone" id="phone" pattern="[0-9]+">
            <div class="alert alert-danger mt-2" *ngIf="!phone.valid && phone.touched">
                <div *ngIf="phone.errors?.required">Phone Field is required.</div>
                <div *ngIf="phone.errors?.minlength">Phone must be at least 3 digits.</div>
                <div *ngIf="phone.errors?.pattern">Invalid phone</div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input required minlength="30" maxlength="150" [ngModel]="client?.address" #address="ngModel" type="address"
                class="form-control" name="address" id="address">
            <div class="alert alert-danger mt-2" *ngIf="!address.valid && address.touched">
                <div *ngIf="address.errors?.required">Address Field is required.</div>
                <div *ngIf="address.errors?.minlength">Address should be minimum 30 characters</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="f.invalid || f.errors">Submit</button>
        <div class="alert alert-danger mt-2" *ngIf="f.submitted && f.errors">
            <div *ngIf="f.errors && f.errors.invalidData">invalid data submitted.</div>
            <div *ngIf="f.errors && f.errors.unknownError">Unknown error occured.</div>
        </div>
        <div class="alert alert-success alert-dismissible mt-2" role="alert" *ngIf="Added">
            Client added successfully!
            <button type="button" (click)="DismissSuccessMessage()" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-success alert-dismissible mt-2" role="alert" *ngIf="updated">
            Client updated successfully!
            <button type="button" (click)="DismissSuccessMessage()" class="close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </form>
</div>