<div class="container-fluid">
    <p>
        <a routerLink="/orderForm" class="btn btn-primary">new Order</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Client CIN</th>
                <th>Client Name</th>
                <th>Client phone</th>
                <th>Car Registration Number</th>
                <th>order Date</th>
                <th>Rental Start Date</th>
                <th>Rental End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of orders">
                <td>{{ o?.ID_Client?.CIN }}</td>
                <td>{{ o?.ID_Client?.FirstName }}</td>
                <td>{{ o?.ID_Client?.LastName }}</td>
                <td>{{ o?.ID_Car?.Registration_Number }}</td>
                <td>{{ o?.Order_Date | date }}</td>
                <td>{{ o?.Rent_Start_Date | date }}</td>
                <td>{{ o?.Rent_End_Date | date }}</td>
                <td>
                    <a class="btn btn-secondary mx-1" [routerLink]="['/main/orderForm/', o._id]">Edit</a>
                    <a class="btn btn-danger text-light mx-1" (click)="delete(o._id)">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
