<div class="container-fluid">
  <p>
    <a routerLink="/main/carForm" class="btn btn-primary">new Car</a>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Mark</th>
        <th>Model</th>
        <th>Registration Number</th>
        <th>Rent Price</th>
        <th>Production Year</th>
        <th>Base</th>
        <th>Base phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cars">
        <td>{{ c.Mark }}</td>
        <td>{{ c.Model }}</td>
        <td>{{ c.Registration_Number }}</td>
        <td>{{ c.Rent_Price }}</td>
        <td>{{ c.production_Year }}</td>
        <td>{{ c.ID_Base.B_Name }}</td>
        <td>{{ c.ID_Base.phone }}</td>
        <td>
          <a class="btn btn-secondary mx-1" [routerLink]="['/carForm/', c._id]">Edit</a>
          <a class="btn btn-danger text-light mx-1" (click)="delete(c._id)">delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>