<div class="container">
<h1 >Introduction</h1>
  <p>Carsen is a car Rental Service management system that enables a person to manage multibased car rental business.</p>
  <p>App functionalities:</p>
  <ul>
    <li>Bases CRUD operation for Admin/View For Agent</li>
    <li>Mechanics/Repair/Agents CRUD operations for Admin only</li>
    <li>Cars/Clients/Orders CRUD for Agents and Admins</li>
  </ul>
  <p>Technical Details:</p>
  <ol>
    <li>Front-End: Angular Application <br>
      Functionnalities included: <br>
        - LazyLoad/Preload <br>
        - Clean Architecture <br>
        - Angular Universal(beneficial for SEO purposes) <br>
    </li>
    <li>Back-End: RESTful API made using NodeJs and Express<br>
      Functionnalities included: <br>
        - Jwt authentication/authorisation system<br>
        - 100% covered by automated unit/integration tests<br>
        - Developed Using TDD<br>
    </li>
    <li>Data Base: MongoDB</li>
  </ol>
  <p >App Developed By <b> Dhia Eddine Trabelsi</b> For learning and demonstration Purposes.</p>

</div>
